.card {
    border-radius: 15px;
    display: flex;
    margin:5px;
}

.insideCard {
    flex: '1 0 auto'
}

.company {
    text-decoration: none;
    border-bottom: none;
    box-shadow: "none";
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    align-items: right;
    color: black;
}
.role {
    text-decoration: none;
    border-bottom: none;
    box-shadow: "none";
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    align-items: right;
    color: black;
}
.image {
    height: 60px;
    width: 60px;
    margin-left: 8%;
    margin-top: 18%;
    border-radius: 100%;
}