/* Use this to add css styles to the Landing React Element */

.HomePageContainer {
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.AppBar {
  box-shadow: none;
  flex-grow: 1;
  white-space: nowrap;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.HeaderLeftContainer {
  display: flex;
  cursor: pointer;
  align-items: center;
}

#signup {
  margin-right: 20px;
}

.google-logo {
  color: #d4422f;
}

.spotify-logo {
  color: #1DB954;
}

.microsoft-logo {
  color: #01a6f0;
}

.amazon-logo {
  color: #ff9900;
}
