:root { 
  --black: #000000;
  --brand: #190446;
  --accent: #6c50ed;
  --light-brand: #ada7bd;
  --medium-carmine: #b33a3a;
  --primary: #f9f8ff;
 
  --font-size-l: 28px;
  --font-size-m: 16px;
  --font-size-xl: 42px;
 
  --font-family-poppins: "Poppins", Helvetica;
}
.header-1 {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0;
}

.sub-header {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.paragraph {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0;
}

.buttons {
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
}

.border-1px-accent {
  border: 1px solid var(--accent);
}
