.image {
    border-radius: 100%;
}

#title {
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    color: #190446;
}

#title:hover {
    color: #800080 ;
}

#company {
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-size: 18pt;
    color: #190446;
}

#role {
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    color: #776e90;
}

#date {
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    color: #190446;
}